html {
    background-color: #444;
    color: #fff;
}

.field {
    margin: 0 auto;
    width: 66%;
    min-width: 600px;
    background-color: #333;
    padding-top: 16px;
    border-radius: 0 0 16px 16px;
    box-shadow: 2px 2px 1px #000, inset 1px 1px 1px #fff;
}

.gem {
    animation: fall 2s ease 0s 1 normal forwards;
    margin: 2px;
}

img.selected {
    border-radius: 16px;
    background-color: #444;
    box-shadow: 2px 2px 2px black, inset 1px 1px 1px white;
}

@keyframes fall {
    00% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY();
        transform: translateY(-800%);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px)
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0)
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px)
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0)
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px)
    }

    99% {
        animation-timing-function: ease-out;
        transform: translateY(0)
    }
}

@keyframes matched {
    from {trasnform: scale(1);}
    to {transform: scale(0.1);}
}