html {
    background-color: #444;
    color: #fff;
}

div.field {
    min-width: 64px;
    max-width: 512px;
    padding-top: 128px;
    margin: 0 auto;
    background-color: #333;
    border-radius: 0 0 16px 16px;
    box-shadow: 2px 2px 1px #000, inset 1px 1px 1px #fff;
}

div.line {
    min-width: 8px;
    max-width: 64px;
}

img.gem {
    animation: fall 2s ease 0s 1 normal forwards;
    margin: 2px;
}

img.selected {
    border-radius: 16px;
    background-color: #444;
    box-shadow: 2px 2px 2px black, inset 1px 1px 1px white;
}

@media screen and (width < 1024px) {
    div.field {
        width: 512px;
        padding-top: 64px;
    }

    div.line {
        width: 64px;
    }
}

@media screen and (width < 544px) {
    div.field {
        width: 320px;
        padding-top: 32px;
    }

    div.line {
        width: 32px;
    }
}

@media screen and (width < 288px){
    div.field {
        width: 128px;
        padding-top: 16px;
    }

    div.line {
        width: 16px;
    }
}

@media screen and (width < 160px) {
    div.field {
        width: 64px;
        padding-top: 8px;
    }

    div.line {
        width: 8px;
    }
}

@keyframes fall {
    00% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-800%);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px)
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0)
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px)
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0)
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px)
    }

    99% {
        animation-timing-function: ease-out;
        transform: translateY(0)
    }
}

@keyframes matched {
    from { opacity: 1;}
    to { opacity: 0;}
}